.achi_images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.achi_images img{
    margin: 10px;
    width: 500px;
}
@media (max-width:550px) {
     .achi_images img{
        width: 300px;
     }
}