/* ski.css */
.skills_page_Start {
    display: flex;
    justify-content: center;
  }
  
  .pskill {
    width: 300px;
  }
  
  .page_start_skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-skills,
  .right-skills {
    display: flex;
    /* flex-direction: column;  */
    align-items: center; /* Align items at the center */
  }
  
  .vertical_line {
    width: 7px;
    background-color: white;
    height: 150px;
  }
  .horizontal_line{
    width: 150px;
    background-color: white;
    height: 10px;
  }
  
  .left-skills {
    text-align: right;
  }
  
  .right-skills {
    text-align: left;
  }
  
  .skillcircle{
    margin-left: 50px;
  }

  .skillimg{
    width: 100px;
  }