.App {
  text-align: center;
}
body{
  background: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .nav-item{
    display: block;
    margin: auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav_background{
  background: rgba(0, 0, 0, 0.8);
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my_name{
  font-size: 33px;
  font-weight: bolder;
}
.first_name{
  color: rgb(255, 0, 238);
}
.last_name{
  color: blue;
}
.first_char{
color: rgb(255, 0, 64);
}
.last_char{
  color: rgb(0, 225, 255);
  }
.nav-link{
  margin: 20px;
}
.nav-link:hover{
position: relative;
/* border-color: red; */
   background: green ;
   animation: 1s ease-in-out;
}
.active{
border-bottom:3px solid green;
/* border-color: red; */
}
/* .parent_page{
  background: black;
} */

/* .image_part_div:hover{
   background:url('images/hero2.jpg');
   background-size: contain;
  
} */

 /* home  page designing start from here */
.page_start{
  margin-top: 20px;
  /* border: 1px solid black; */
  color: white;
  /* border-radius: 30px; */
  /* box-shadow: 0 0 20px white; */
}
 .hero_img{
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0px 0px  15px black;

 }
 .about_content{
  text-align: center;
  color:white;
  
 }
.arrow_div{
  text-align: center;
}
 .arrow_img{
  width: 100px;
  height: 250px;

 }

 .page_start_about{
  /* From https://css.glass */
/* background: url('https://www.bing.com/th/id/OGC.c12691f52275baae27eb370dda08725e?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fgFhZjOtzoutSvckWPM%2fgiphy.gif&ehk=aFjm8g%2f4bIsz0U7smFYx8PDX0N1Hf1tnZ0r7lbwUNCI%3d'); */
background-size: cover;
border-radius: 16px;
/* background-color: #000724; */
background: black;
background-size: cover;
background-position: center;
/* box-shadow: 0 0 20px white; */
backdrop-filter: blur(17.9px);
margin-bottom: 30px;
-webkit-backdrop-filter: blur(17.9px);
/* border: 1px solid rgba(255, 255, 255, 0.81); */

 }
 

 .page_start_about  .about_me{
  color: white;
  display: block;
  
  text-align: center;
  margin: auto;
  border-bottom: 5px solid green;
  width: 250px;
  border-radius: 50px;
}

.about_me{
  color: white;
  display: block;
  
  text-align: center;
  margin: auto;
  border-bottom: 5px solid green;
  width: 250px;
  border-radius: 50px;
}


/* contact page designing start from here*/
.page_start_contact{
  text-align: center;
  background: black;
border-radius: 16px;
background-size: cover;
background-position: center;

box-shadow: 0 0 20px white;
backdrop-filter: blur(17.9px);
-webkit-backdrop-filter: blur(17.9px);
border: 1px solid rgba(255, 255, 255, 0.81);
}
.page_start_contact  .contact_me{
  color: white;
  display: block;
  text-align: center;
  margin: auto;
  border-bottom: 5px solid green;
  width: fit-content;
  border-radius: 50px;
}
.page_start_contact h1{
  color: white;
}
.contact_form .inp{
  width: 400px;
  margin: 20px;
  height: 40px;
  background: rgba(112, 107, 107, 0.5);
  box-shadow: 0 0 20px white;
  color: white;
  font-size: 25px;
  border-radius: 30px;
  border-bottom: 3px solid green;
}
.contact_form textarea{
  width: 400px;
  background: rgb(0, 4, 0,0.5);
  color: white;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

@media (max-width:700px){
  .contact_form .inp{
    width: 250px;
  }
  .contact_form textarea{
    width: 250px;
  }
}
.submit_btn{
  width: 150px;
  background: green;
  height: 50px;
  color: white;
  font-size: 25px;
  border-radius: 25px;
  border: none;
}
.submit_btn:hover{
  background: none;
  border: 5px solid green;
  border-radius: 20px;
}

.social_links_img{
  width: 60px;
  margin: 20px;
}


/* Education page designing start from here */

.eduaction_details{
  display: flex;
  justify-content: center;
  /* background: url('https://wallpaper-house.com/data/out/6/wallpaper2you_105577.gif'); */
  background: rgb(0, 49, 67);
 background-size: 100%;
  align-items: center;
  margin: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 10px green;
  margin-bottom: 30px;
}
.eduaction_details img{
  width: 150px;
  height: 150px;
  margin: 20px;
}

.degree_name{
  border-bottom: 3px solid green;
  border-radius: 30px;
  width: 150px;
  text-align: center;
}

/* home page */
.carousel-item img{
width: 100%;
height: 700px;
border-radius: 30px;
}



/* Project Section start from here  */
.page_start_project{
 background: black;
  background-size: cover;
  background-position: center;
}
.one_to_one_project_details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectbox{
  text-align: center;
  width: 250px;
  
  border: 1px solid white;
  transition: 1s ease-in-out;
  margin: 25px;

}
.projectbox img{
  width: 248px;
  height: 250px;
  
}


.projectbox:hover{
  scale: 1.1.9;
  
}
.page_start_skills{
  /* background: url('https://blog.hdwallsource.com/wp-content/uploads/2016/01/gif-41328-42318-hd-wallpapers.jpg.gif'); */
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

/* .pskill{
  text-align: center;
  display: block;
  align-items: center;
} */
/* progress::-webkit-progress-value {
  border: 0;
  height: 40px;
  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(1, 247, 1);
} */
/* progress::-moz-progress-bar {
  border: 0;
  height: 40px;
  
} */
/* .Progressbar{
  width: 60vw;
  height: 30px;
  border-radius: 50px;
} */
/* .skill_name{
  width: 300px;
}
.skillss{
  display: flex;
  justify-content: center;
  background: none;
  margin: 20px;
} */






.typing{
  color: rgb(255, 0, 255);
}


.coding_profile_box{
   box-shadow: 0 0 10px rgb(237, 237, 237);
   transition: 1s;
   margin: 30px;
}
.coding_profile_box button{
  width: 80px;
  height: 35px;
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
  box-shadow: 0 0 9px;
  border-radius: 20px;
  background: linear-gradient(90deg , rgb(49, 49, 152), rgb(101, 167, 101), rgb(133, 93, 133));
}

.coding_profile_box:hover{
  scale: 1.1;
}

.coding_profile_button:hover{
  background: rgb(0, 255, 0);
  color: #282c34;
}
.coding_profile_box img{
  transition: 1s;
}

.coding_profile_box img:hover{
  scale: 1.2;
}


.percentage_value :hover{
   scale: 1.2;
   

}
.programming_profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.coding_profile_box a img{
  width: 90px;
  height: 90px;
}




  /* error page */

  .Error_page{
    color: white;
    text-align: center;
  }

  .error_btn{
    width: 150px;
    height: 45px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px white;
    background: linear-gradient(90deg ,rgb(155, 150, 42) , rgb(95, 221, 64));
  }

