
.App {
  text-align: center;
}

body {
  background: rgb(9, 11, 72);
  color: white;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .nav-item {
    display: block;
    margin: auto;
  }
}

.App-header {
  background-color: #cd3131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav_background {
  background: rgba(0, 0, 0, 0.8);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.my_name {
  font-size: 33px;
  font-weight: bolder;
}

.first_name {
  color: rgb(255, 0, 238);
}

.last_name {
  color: blue;
}

.first_char {
  color: rgb(255, 0, 64);
}

.last_char {
  color: rgb(0, 225, 255);
}

.nav-link {
  margin: 20px;
}

.nav-link:hover {
  position: relative;
  background: green;
  animation: 1s ease-in-out;
}

.active {
  border-bottom: 3px solid green;
}

.parent_page {
  height: 100vh;
  overflow-y: auto;
}


/* home  page designing start from here */
.page_start {
  margin-top: 20px;
 
  color: white;
}

.hero_img {
  width: 250px;
  margin: 80px;
  background-size: 100%;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgb(243, 239, 239);

}

.about_content {
  color: white;
  margin-left: 20%;
  margin-right: 20px;

}

@media screen and (max-width:1000px) {
  .about_main {
    flex-direction: column;
  }

  .about_content {
    text-align: center;
    margin-left: 2%;
  }
}

.arrow_div {
  text-align: center;
}

.arrow_img {
  width: 100px;
  height: 250px;

}

.page_start_about {
  background-size: cover;
  border-radius: 16px;
  
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(17.9px);
  margin-bottom: 30px;
  -webkit-backdrop-filter: blur(17.9px);

}


.page_start_about .about_me {
  color: white;
}

.about_me {
  color: white;
  display: block;

  text-align: center;
  margin: auto;
  border-bottom: 5px solid green;
  border-radius: 20px;
}


/* contact page designing start from here*/
.page_start_contact {
  text-align: center;
  border: 1px solid greenyellow;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px greenyellow;
}

.page_start_contact .contact_me {
  color: white;
  display: block;
  text-align: center;
  margin: auto;
  border-bottom: 5px solid green;
  width: fit-content;
  border-radius: 50px;
}

.page_start_contact h1 {
  color: white;
}

.contact_form {
  border: 1px solid greenyellow;
  width: 500px;
  text-align: center;
  margin: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 0 20px greenyellow;
  padding: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
}

@media (max-width:700px) {

  .contact_form {
    width: 320px;
  }
}

.submit_btn {
  width: 150px;
  background: greenyellow;
  height: 50px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 25px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.submit_btn:hover {
  background: blueviolet;
  color: white;
  border-radius: 20px;
}

.social_links_img {
  width: 60px;
  margin: 20px;
}


/* Education page designing start from here */

.eduaction_details {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin: 20px;
  border: 1px solid greenyellow;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;

}

@media (max-width: 800px) {
  .eduaction_details {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.eduaction_details img {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.degree_name {
  border-bottom: 3px solid green;
  border-radius: 30px;
  width: 150px;
  text-align: center;
}

/* home page */
.carousel-item img {
  width: 100%;
  height: 700px;
  border-radius: 30px;
}



/* Project Section start from here  */
.page_start_project {
  background: black;
  background-size: cover;
  background-position: center;
}

.one_to_one_project_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectbox {
  text-align: center;
  width: 320px;
  border: 1px solid white;
  margin: 25px;

}

@media screen and (max-width:340px) {
  .projectbox {
    width: 280px;
  }
}

.page_start_skills {
   background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}






.typing {
  color: rgb(255, 0, 255);
}


.coding_profile_box {
  box-shadow: 0 0 10px greenyellow;
  transition: 1s;
  margin: 30px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}


.coding_profile_box:hover {
  background: greenyellow;
  color: black;
}


.coding_profile_button:hover {
  background: rgb(0, 255, 0);
  color: #282c34;
}

.coding_profile_box img {
  transition: 1s;
}

.coding_profile_box img:hover {
  scale: 1.2;
}


.percentage_value :hover {
  scale: 1.2;


}

.programming_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coding_profile_box a img {
  width: 90px;
  height: 90px;
}




/* error page */

.Error_page {
  color: white;
  text-align: center;
}

.error_btn{
  width: 150px;
  height: 45px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 15px white;
  background: linear-gradient(90deg, rgb(155, 150, 42), rgb(95, 221, 64));
}

#circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 5;
  pointer-events: none;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  box-shadow: 0 0 10px white,
    0 0 10px white,
    0 0 10px white;
}
#circle::before {
  content: "React Developer";
  animation: changeText 12s infinite;
  align-items: center;
}

@keyframes changeText {
  0%, 25% {
    content: "React Developer";
    color: white;
  }
  25%, 50% {
    content: "Full Stack Developer";
    color: #cd3131;
  }
  50%, 75% {
    content: "React Native Developer";
    color: gold;
  }
  75%, 100% {
    content: "MERN Developer";
    color: orange;
  }
}
